@model NameViewModel
@{
    ViewData["Title"] = "Admin Home";
}

<h2 class="text-center mt-5">Добре дошъл, оператор @Model.Name</h2>

<div class="text-center mt-5">
    <img src="https://techcrunch.com/wp-content/uploads/2015/04/o_mixed_tc.png?w=680" alt="Alternate Text" />
</div>
