@model AdminNameViewModel
@{
    ViewData["Title"] = "Admin Home";
}

<h2 class="text-center mt-5">Добре дошъл, админ @Model.Name</h2>

<div class="text-center mt-5">
    <img src="https://www.tagetik.com/en/blog/images/2016-07-28-ssa-mantini" alt="Alternate Text" />
</div>