@model RemoveCategoriesViewModel

<a class="text-info list-group-item h4 col-5" asp-area="Admin" asp-controller="Categories" asp-action="Remove"  asp-route-id="@Model.Id" asp-route-slug="@Model.Slug">@Model.Name</a>