@using ModernMarketTM.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var user = await UserManager.GetUserAsync(User);
}
<ul class="nav nav-pills nav-stacked">
    <li class="nav-item"><a class=" nav-link active bg-info" asp-page="./Index">Профил</a></li>
    <li class="nav-item"><a class=" nav-link active bg-info mt-1" id="change-password" asp-page="./ChangePassword">Парола</a></li>
    @if (hasExternalLogins)
    {
        <li class="nav-item"><a class=" nav-link active bg-info mt-1" id="external-login" asp-page="./ExternalLogins">Външни влизания</a></li>
    }
    <li class="nav-item"><a class=" nav-link active bg-info mt-1" asp-page="./TwoFactorAuthentication">Двуфакторна автентикация</a></li>
    <li class="nav-item"><a class=" nav-link active bg-info mt-1" asp-page="./PersonalData">Лични данни</a></li>
    <li class="nav-item"><a class="nav-link active bg-info mt-1" asp-area="" asp-controller="Orders" asp-action="Details" asp-route-id="@user.Id">Поръчки</a></li>
    <li class="nav-item">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
            <button type="submit" class="nav-link active bg-info mt-1" style="cursor: pointer;border: none">Излез</button>
        </form>
    </li>
</ul>
