@page
@model IndexModel

<h2 class="mt-5 text-center">Добре дошъл, доставчик @Model.FullName</h2>

<div class="text-center mt-5">
    <img  src="https://sagitterone.co.uk/wp-content/uploads/2016/11/supplier.jpg" alt="Alternate Text" />
</div>