@page
@model LockoutModel
@{
    ViewData["Title"] = "Заключен акаунт";
}


<header>
    <h1 class="text-danger mt-3">@ViewData["Title"]</h1>
    <p class="text-danger">Този акаунт е заключен за неопределено време</p>
</header>
