

@{
    ViewData["Title"] = "Начало";
}



<div class="text-center mt-5">
    
    <h1>Добре дошли в Modern Market!</h1>
    <div class="mt-5">
        <img class="w-75" src="https://cdn.techinasia.com/wp-content/uploads/2015/07/online-shopping-ecommerce-ss-1920.png" alt="Alternate Text" class="mt-1"/>
    </div>
</div>
