@{
    ViewData["Title"] = "ResetCart";
}

<h2 class="mt-5">Информация за количките</h2>

<div class="alert alert-success mt-5" role="alert">
    <h4 class="alert-heading">Успешно нулирани колички! </h4>
    <p>Стоките ангажирани в количките на всички потребители са освободени!</p>
</div>