@{
    ViewData["Title"] = "Задаване на промоции";
}

<h2 class="mt-5">Дата до, която да важи</h2>
<form class="mt-5 col-6" method="post" asp-area="Admin" asp-action="Configure" asp-controller="Discounts">
    <div class="form-group">
        <label for="date">Дата</label>
        <input type="date" class="form-control" id="date" name="date">
        <span class="text-danger">@Html.ValidationMessage("Date")</span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-warning" value="Задаване">
    </div>
</form>


