@page
@model ModernMarketTM.Web.Models.OrderAboutViewModel
@{
    ViewData["Title"] = "За нас";
    Layout = "_Layout";
}

<h2 class="text-center mt-5">За нас</h2>

<div class="text-center mt-5 h4">
    Това е сайт направен за защитата на проект в СофтУни.
</div>
<div class="text-center h4">
    Собственост на Веселин Петров(vesopk)!
</div>

<div class="text-center mt-5">
    <img src="https://sd.keepcalm-o-matic.co.uk/i-w600/exam-time-no-facebook-only-study.jpg" alt="Alternate Text" />
</div>

