.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

#removeFromCart {
    text-decoration: none;
    font-size: 35px;
    color: #545B62;
}

#removeFromCart:hover {
    color: #DC3545;
}

#cartNav {
    width: 100%;
    height: 50px;
    background: #E4601C;
    border: 1px solid #000000;
    color: black;
    font-size: 22px;
    padding-top: 5px;
}

#botomCartNav {
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

#product {
    margin-left: 3%;
}

#price {
    margin-left: 32%;
}

#quantity {
    margin-left: 10%;
}

#sum {
    margin-left: 7%;
}

#logos li {
    margin-right: 15px;
}

#search {
    background: transparent;
    border: none !important;
    padding-bottom: 5px;
    padding-top: 8px;
}

    #search:hover {
        cursor: pointer;
        background: #000000;
    }

#glass {
    color: black;
    font-size: 22px;
    background: #E4601C;
}

#search:hover > i {
    color: #e4601c;
    background: #000000;
}

#searchBar {
    border: 4px solid black;
    border-radius: 8px;
}

#searchTerm {
    border-radius: 3px 0 0 3px;
}

#searchBar ::-webkit-input-placeholder { /* Chrome */
    color: black;
}

#searchBar :-ms-input-placeholder { /* IE 10+ */
    color: black;
}

#searchBar ::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 1;
}

#searchBar :-moz-placeholder { /* Firefox 4 - 18 */
    color: black;
    opacity: 1;
}

#test {
    border: 3px solid white;
    width: 38px;
    height: 29px;
    border-radius: 25px;
    background: #e4601c;
    color: black;
    font-size: 15px;
    text-align: center;
    position: absolute;
    z-index: 1;
    right: 4.5%;
    top: 12%;
    font-weight: 700
}

.profile {
    background: #e4601c;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.profile:hover {
    text-decoration: none;
    color: black;
}

header nav ul {
    margin-bottom: 0;
    padding-left: 0;
}

header nav ul li {
    display: inline-block;
    padding: 25px;
}
    

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header nav ul {
    background-Color: #5A6268;
}

header nav ul li a:before {
    font-family: 'FontAwesome',serif;
    margin-right: 10px;
    font-size: 18px;
}

header nav ul li:hover .citem {
    color: #ffffff;
    text-decoration: none;
}
