@model IEnumerable<CategoriesViewModel>
@{
    ViewData["Title"] = "Категории";
}

<h2 class="mt-3">@ViewData["Title"]</h2>

<a asp-controller="Categories" asp-action="Add" class="btn btn-success mt-3">Добави категория</a>
<a asp-controller="Categories" asp-action="RemoveIndex" class="btn btn-danger mt-3">Премахи категория</a>

<div class="row">
    @Html.DisplayForModel()
</div>


